<div class="container">
    <h1>Snappy Snips Salon</h1>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation" class="active"><a href="/stylists">Stylists</a></li>
        <li role="presentation" class="active"><a href="/specialties">Specialties</a></li>
        <li role="presentation" class="active"><a href="/clients">Clients</a></li>
    </ul>
</div>