<h1>Client Details: </h1>

<h2>@Model["client"].GetName()</h2>
<h3>Stylist: @Model["stylist"].GetName()</h3>


<a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add another client</a>
<form action="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/delete" method="post">
  <button type="submit">Remove this client</button>
</form>
<a href='/restaurants'>View all stylists</a>
