@{
    Layout = "_Layout";
}

@Html.Partial("_Header");

<div class="container">

    <h5>@Model.GetName()</h5>

    <form action="/stylists/@Model.GetId()/update" method="post">
        <label for="newName">Name:</label>
        <input type="text" name="stylistName" value="@Model.GetName()">
        <button type="submit">Update</button>
    </form>
</div>