@{
    Layout = "_Layout";
}

@Html.Partial("_Header");

<div class="container">
    <div>Enter the name of the stylist below.</div>

    <form action="/stylists" method="post">
        <label for="stylistName">Stylist Name:</label>
        <input id="stylistName" name="stylistName" type="text"> <button type="submit" class="btn btn-link">Add</button>
    </form>
</div>