<h1>Add a Stylist Below</h1>

<form action="/stylists" method="post">
    <label for="stylistName">Stylist Name:</label>
    <input id="stylistName" name="stylistName" type="text"> </br>
    <label for="stylistSpecialty">Add Stylist Specialty:</label>
    <input type="checkbox" id="stylistSpecialty" name="stylistSpecialty1" value="Cut"> Cut
    <input type="checkbox" id="stylistSpecialty" name="stylistSpecialty2" value="Color"> Color
    <input type="checkbox" id="stylistSpecialty" name="stylistSpecialty3" value="Perm"> Perm </br>
    <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/stylists">Back to view stylists</a></p>