<h1>Hair Salon</h1>

<h2>Edit stylist: @Model.GetName()</h2>

<form action="/stylists/@Model.GetId()/update" method="post">
  <label for="newName">Name:</label>
  <input type="text" name="stylistName" value="@Model.GetName()">
  <button type="submit">Update</button>
</form>

<h4><a href="/stylists/@Model.GetId()/clients/@Model.GetId()">Return to previous page</a></h4>