<h1>Add a new client to @Model.GetName()</h1>

<form action='/stylists/@Model.GetId()/clients' method='post'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.GetId()'>
  <label for='clientName'>Client Name</label>
  <input id='clientName' name='clientName' type='text'>
  <button type='submit'>Add Client</button>
</form>
