<h1>Add a Specialty Below</h1>

<form action="/specialties" method="post">

    <label for="specialtyDescription">Add Specialty:</label>
    @foreach (var specialty in Model)
    {
        <input type="checkbox" id="@specialty.GetId()" name="@specialty.GetId()" value="@specialty.GetDescription()">
   }

    <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/stylists">Back to view stylists</a></p>