@{
    Layout = "_Layout";
}

@Html.Partial("_Header");

<div class="container">
<p>
    Welcome to Snappy Snips where your stylists are fashion perfectionists! They know how to snip your hair...model quality. We are proud of our stylists
    but not too proud. That would go to their head and they'd find a job at another salon...that pays better.
</p>
</div>