<h1>Add a Stylist Below</h1>

<form action="/stylists" method="post">
  <label for="stylistName">Stylist Name</label>
  <input id="stylistName" name="stylistName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/stylists">Back to view stylists</a></p>
