<h1>Add a new client to @Model.GetName()</h1>

<form action='/stylists/@Model.GetId()/clients/add' method='post'>
  <label for='clientName'>Client Name</label>
  <input id='clientName' name='clientName' type="text">

  <label for="clientType">Gender</label>
  <input type="radio" name="clientType" value="Female" />Female
  <input type="radio" name="clientType" value="Male" /> Male

  <button type='submit'>Add Client</button>
</form>