@{
    Layout = "_Layout";
}

@Html.Partial("_Header");

<div class="container">
    <h5>@Model.GetName()</h5>

    <form action='/clients/@Model.GetId()/update' method='post'>
        <label for="clientName">Client Name:</label>
        <input type="text" id="clientName" name="clientName" /> <button type='submit' class="btn btn-list">update</button>
    </form>
</div>